img{
    padding: 10px;
    height: 50px;
    width: 50px;
    position: relative;
    top: 20px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 23px;
    padding: 10px;
}
a:hover{
    color: #74512D;
}
h1{
    color: white;
}
.header{
    position: sticky;
    top: 0;
    background-color: black;
}
body{
    background-color: #d9eaee;
    background-image: url(bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.share{
    border: solid 2px #74512D;
    border-radius: 20px 0px 20px 0px;
    position: fixed;
    bottom: 60px;
    right: 20px;
    height: 50px;
    width: auto;
    cursor: pointer;
}
h2{
    font-size: 35px;
}
p{
    font-size: 25px;
    text-align: justify;
}
.founder{
    margin-top: 70px;
    background-color: #AF8F6F;
    height: 500px;
    width: 400px;
    position: relative;
}
.f-img{
    position: absolute;
    left: 90px;
    top: -80px;
    height: 120px;
    width: 120px;
    padding: 20px;
}
.owner{
    padding: 10px;
    text-align: justify;
    margin-top: 80px;
}
h3{
    font-size: 25px;
    position: relative;
    top: 80px;
    left: 90px;
}