img{
    padding: 10px;
    height: 50px;
    width: 50px;
    position: relative;
    top: 20px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 23px;
    padding: 10px;
}
h1{
    color: white;
}
.header{
    position: sticky;
    top: 0;
    background-color: black;
}
body{
    background-color: #d9eaee;
    background-image: url(bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.share{
    border: solid 2px;
    border-radius: 20px 0px 20px 0px;
    position: fixed;
    top: 60px;
    right: 20px;
    height: 50px;
    width: auto;
}